<!DOCTYPE html>
<head>
	<title>Remember Your Media</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<nav>
		<ul>
			{% if session.user_id %}
			<li><a {% if active_page == "home" %} class="active" {% endif %} href="/">RYM</a></li>
			<li><a {% if active_page == "browse" %} class="active" {% endif %} href="/browse">
				Browse
			</a><li>
			<li><a {% if active_page == "create" %} class="active" {% endif %} href="/create">
				Add New
			</a></li>
			<li><a {% if active_page == "friends" %} class="active" {% endif %} href="/friends">
				Friends
			</a></li>
			<li style="float:right"><a href="/logout">Log out from: {{ session.username }}</a></li>
			{% else %}
			<li><a {% if active_page == "login" %} class="active" {% endif %} href="/login">
				Log In
			</a></li>
			<li><a {% if active_page == "register" %} class="active" {% endif %} href="/register">
				register
			</a></li>
			{% endif %}
		</ul>
	</nav>
	{% if error %}
	<div id="error">
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
		{{ error }}
	</div>
	{% endif %}
	<div id="body">
		{% block content %}{% endblock %}
	</div>
</body>
