{% extends "base.html" %}
{% block content %}
{% if (fields and type and id) %}
<form action="/edit/{{ type }}/{{ id }}" method="POST">
	{% for field in fields %}
		<p>
			{{ field.name }}
			{% if field.type == "text" %}
			<input
				type="text"
				name={{ field.name }}
				autocomplete="off"
				{% if field.value %}
				value={{ field.value }}
				{% endif %}
				minlength={{ field.min }}
				maxlength={{ field.max }}
				{% if field.required %}
					required
				{% endif %}
			>
			{% elif field.type == "number" %}
			<input
				type="number"
				name={{ field.name }}
				autocomplete="off"
				{% if field.value %}
				value={{ field.value }}
				{% endif %}
				min={{ field.min }}
				max={{ field.max }}
				step="1"
				{% if field.required %}
					required
				{% endif %}
			>
			{% elif field.type == "checkbox" %}
			<input
				type="checkbox"
				name={{ field.name }}
				autocomplete="off"
				value="1"
				{% if field.value %}
				checked="True"
				{% endif %}
			><input type='hidden' name={{ field.name }} value='0'>
			{% endif %}
		</p>
	{% endfor %}
	<input type="hidden" name="csrf_token" value={{ session.csrf_token }}>
	<p><input type="submit" value="Edit"></p>
</form>
{% endif %}
{% endblock %}
