{% extends "base.html" %}
{% block content %}
<form action="/create" method="POST">
	<p>
		type:
		<input type="radio" name="type" value="0">films
		<input type="radio" name="type" value="1">music
		<input type="radio" name="type" value="2">books
		<input type="radio" name="type" value="3">comics
		<input type="radio" name="type" value="4">games
		<input type="radio" name="type" value="5" checked="true">other
	</p>
	<p>
		name:
		<input type="text" name="name">
	</p>
	<p>
		Shared: <input type="checkbox" name="shared" value="1">
		<input type='hidden' value='0' name='shared'>
	</p>
	<input type="submit" value="add">
</form>
{% endblock %}
