{% extends "base.html" %}
{% set active_page = "register" %}
{% block content %}
<form action="/register" method="POST">
	<p>
		Username:<br>
		<input
			type="text"
			name="username"
			{% if username %}
			value={{ username }}
			{% endif %}
			autocomplete="off"
			minlength="3"
			maxlength="20"
		>
	</p>
	<p>
		E-mail:<br>
		<input
			type="text"
			name="email"
			{% if email %}
			value={{ email }}
			{% endif %}
			autocomplete="off"
			minlength="5"
			maxlength="255"
		>
	</p>
	<p>
		password:<br>
		<input
			type="password"
			name="password"
			autocomplete="off"
			minlength="12"
			maxlength="255"
		>
	</p>
	<p>
		retype password:<br>
		<input
			type="password"
			name="password_check"
			autocomplete="off"
			minlength="12"
			maxlength="255"
		>
	</p>
	<input type="submit" value="Create user">
</form>
{% endblock %}
